# compiled output
node_modules
dist
_db

# IDEs and editors
.vscode

# .env
.env
.env.local
.env.prod
.env.dev

# local data
src/modules/lots/data/salesdata.csv

yarn.lock
package-lock.json

#lock
yarn.lock
package-lock.json